* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: rgb(15, 59, 107);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 44, 80);
    height: 60px;
    gap: 153px;
    transition: filter 0.3s ease;
    pointer-events: none;
}

.header__user__icon {
    display: flex;
    margin-left: 130px;
    gap: 10px;
}

.header__user__icon div {
    transition: transform 0.3s ease;
}

.header__user__icon div:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.3s;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.header__nav__search input {
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 20px;
    width: 277px;
    transition: transform 0.6s ease;
}

.header__nav:hover .header__nav__search input {
    transform: scale(1.1);
    transition: transform 0.6s;
}

.header__nav:hover #header__nav__icon__search {
    transform: translateX(-12px);
    transition: transform 0.6s;
}

#header__nav__icon__search {
    top: 50%;
    transform: translate(-30px);
    transition: transform 0.6s ease;
}

.header__tittle {
    display: flex;
    justify-content: center;
    transform: translate(-30px);
    gap: 4px;
}

.header__tittle img {
    width: 40px;
    height: 42px;
}

.header__tittle h1 {
    color: rgb(114, 199, 120);
    font-family: 'Russo One', sans-serif;
    font-size: 39.81px;
    /*transform: translate(-300px);*/
    text-shadow:  
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


/*MENU HAMBURGUESA*/
.btn__menu__container {
    transition: transform 0.4s;
    margin-left: -10px;
}

.btn__menu__container:hover {
    transform: scale(1.2);
    transition: transform 0.4s;
}

.menu__hamburguer {
    transform: translateX(-100%);
    z-index: 1000;
    background-color: rgb(15, 59, 107);
    border-right: 1px solid rgba(103, 103, 103, 0.7);
    transition: 0.4s;
}

main {
    transform: translateX(-12.4%);
    transition: 0.4s;
}

.menu__hamburguer__visibility {
    transform: translateX(1%);
    transition: transform 0.4s ease-out;
}

.main_visibility {
    transform: translateX(1%);
    transition: transform 0.4s ease-out;
}

.menu__hamburguer__list__item {
    display: flex;
    margin-top: 25px;
    transition: transform, background-color, 0.4s;
}

.menu__hamburguer__list__item:hover {
    cursor: pointer;
    background-color: rgb(11, 44, 80);
}

.menu__hamburguer__list__item p {
    transition: transform, 0.4s;
}

.menu__hamburguer__list__item p:hover {
    transform: scale(1.1);
}

/*tuve que crear una clase aparte para instagram y facebook porque los iconos 
estan bugueados y es la unica solucion rapida que encontramos*/
.menu__hamburguer__list__item__especial {
    display: flex;
    margin-top: 25px;
    transition: transform 0.7s;
    margin-left: 25px;
}

.menu__hamburguer__list__item__especial:hover {
    cursor: pointer;
    background-color: rgb(11, 44, 80);
}

.menu__hamburguer__list__item__especial p {
    font-family: 'Sarpanch', 'sans-serif';
    color: #FFFFFF;
    padding-left: 15.8px;
    transition: transform, 0.4s;
}

.menu__hamburguer__list__item__especial p:hover {
    transform: scale(1.1);
}

.menu__hamburguer__list__item__especial img {
    margin-left: -15px;
}

.menu__hamburguer__list__item p {
    font-family: 'Sarpanch', 'sans-serif';
    color: #FFFFFF;
}

.menu__hamburguer__list__item__img {
    width: 50px;
    height: 25px;
}

.separator {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 32px;
}

.separator_2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.separator_2 img {
    height: 1px;
    width: 210px;
}

.separator img {
    height: 1px;
    width: 210px;
}


/*JUEGO PRINCIPAL*/
#volver {
    color: white;
    font-size: 25px;
}

.categoria_juego {
    transform:  translate(240px, 60px);
}

.categoria_juego h1 {
    font-size: 25px;
}

.game__container { /*Esta clase la creo lucho para el Canvas*/
    display: flex;
    justify-content: center;
}

.container-juego{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.galeria_de_imagenes {
    transform: translate(180px, -655px);
    position: absolute;
}


.background-board {
    position: absolute;
    margin-top: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-62%, -50%);
    z-index: 0;
    overflow: hidden;
}

.background-board img {
    width: 1035px; 
    opacity: 0.8;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    width: 10vw;
    max-width: 800px;
    z-index: 1;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.score p {
    text-align: center;
    margin-top: 10px;
}


.score-img {
    width: 100px;
    height: 50px;
}


.board {
    position: relative;
}

.board-img {
    width: 200px;
    height: auto;
}

.main-menu h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}


.play-button {
    background-color: #8de887;
    color: black;
    border: none;
    padding: 5px 50px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Jersey 25', 'sans-serif';
}


.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.logo h1 {
    color: #4caf50;
}

.user-info p {
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container {
    text-align: center;
    margin-bottom: 20px;
}

.game-container p{
    margin-top: 300px;
    justify-content: center;
}

.game-container h1{
    width: 46%;
}


.logica{
    text-align: left;
    margin-left: 340px;
    font-size: 13px;
}

.game-preview {
    max-width: 800px;
}

.logos{
    display: flex;
    padding-left: 225px;
    transform: translate(-210px, 230px);
}

.logos-redes{
    display: flex;
    background-color: rgba(78, 73, 148, 1);
    border-radius: 10px;
    margin-right: 15px;
    height: 35px;
    cursor: pointer;
}

.logos p{
    align-content: center;
    margin: 7px;
    margin-left: 25px;
    font-family: 'Russo One', sans-serif;
}

.muestra{
    max-width: 255px;
}

.game-info, .controls, .comments {
    margin-top: 40px;
}

.teclas{
    max-width: 300px;
}

.mouse{
    display: flex;
    margin-left: 170px;
}

.mouse p{
    padding-top: 80px;
    padding-left: 50px;
}

.mouse-icon{
    max-width: 215px;
    max-height: 215px;
}

.mouse-icon p{
    flex-direction: column;
}

.controls{
    transform: translateX(180px);
    display: flex;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(21, 82, 150, 1);
    border-radius: 10px;
    padding: 10px;
}

.wasd{
    display: flex;
    flex-direction:column;
    margin-left: 15px;
}

.controls p, .comments ul li {
    margin: 10px 0;
}

.container-description {
    transform: translateY(300px);
    margin-bottom: 140px;
}

.game-description{
    transform: translateX(185px);
    margin-top: 150px;
    margin-top: 30px;
    padding: 10px;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(21, 82, 150, 1);
    border-radius: 10px;
}

.menu__hamburguer__list__item__img{
    width: 20px;
    height: 20px;
}

.linea3{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.479);
}


/* Comentarios */
.comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(200px);
}

.ad{
    margin-top: 25px;
    margin-left: 100px;
    width: 400px;
    height: 1000px;
    background-color: #FFFFFF;
    opacity: 0.3;
}

.comments-section {
    max-width: 900px;
    margin-top: 25px;
    background-color: rgba(21, 82, 150, 1);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Jersey 25', sans-serif;
}

.comment-icon{
    display: flex;
    background-color: rgba(170, 169, 169, 1);
    border-radius: 35px;
    max-width: 40px;
    max-height: 40px;
}

.comment-icon p{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Russo One', 'sans-serif';
    font-size: 18px;
}

.comments-section h2{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.fecha{
    display: flex;
    justify-content: space-between;
}

.fecha h3{
    opacity: 0.4;
    color: white;
}

.linea{
    margin-top: 3px;
    width: 800px;
    height: 2px;
    margin-bottom: -1px;
}

.linea2{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
}

.user-input {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.100);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.user-input textarea {
    flex-direction: row-reverse;
    background-color: rgba(255, 255, 255, 0.100);
    border: none;
    color: white;
    flex-grow: 1;
    margin-left: 40px;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
}

.enviar{
    background-color: rgba(78, 73, 148, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Russo One', 'sans-serif';
}

.user-input textarea::placeholder {
    color: #8899aa;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-icon{
    align-content: center;
}

.comment {
    display: flex;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.100);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.comment-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-content {
    width: 100%;
    margin-top: -3px;
    margin-left: 10px;
}

.comment-content p {
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 15px;
}

.comment-message{
    display: flex;
    max-width: 10px;
    max-height: 40px;
    margin-bottom: 10px;
}

.comment-message h2{
    margin-top: 7px;
    margin-left: 10px;
}

/* Sidebar Ad */
.ad-banner {
    position: absolute;
    right: 0;
    top: 100px;
}

.ad-banner img {
    width: 120px;
}

footer {
    background-color: rgb(11, 44, 80);
    margin-top: 5%;
    transition: filter 0.3s ease;
    /*pointer-events: none;*/
}

footer a{
    padding-left: 55%;
}

.footer__copyright__notice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 2%;
    padding-bottom: 2%;
}

.footer__fat__footer__content{
    cursor: pointer;
}

.footer__fat__footer__categories__content{
    cursor: pointer;
}

.footer__fat__footer__redes__content{
    cursor: pointer;;
}

/*ANIMACIONES*/
.play-button:hover{
    background-color: #56BC5D;
    transition: background-color box-shadow, 0.6s;
    box-shadow: 1px 1px 12px;
    cursor: pointer; 
}

/*FOOTER*/
footer {
    background-color: rgb(11, 44, 80);
    margin-top: 12%;
    transition: filter 0.3s ease;
    pointer-events: none;
}

.footer__fat__footer {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 30px;
    color: #FFFFFF;
}

.footer__fat__footer__contact__tittle {
    margin: 0;
    padding: 0;
}

.footer__fat__footer__tittle {
    font-size: 18px;
    font-family: 'Russo One', 'sans-serif';
    font-weight: 200;
    margin-bottom: 0px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgba(108, 108, 108, 0.5);
}

.footer__fat__footer__contact img {
    margin-top: -60%;
}

/*titulo especial para KingGames*/
.footer__fat__footer__kinggames__tittle {
    font-size: 18px;
    font-family: 'Russo One', 'sans-serif';
    font-weight: 200;
    margin-bottom: 0px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgba(108, 108, 108, 0.5);
    color: rgb(114, 199, 120);
    /*text-shadow:  
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;*/
}

.footer__fat__footer__content {
    padding-top: 10px;
    font-size: 16px;
}

.footer__fat__footer__content p {
    margin-bottom: 16px;
    font-family: 'Russo One', 'sans-serif';
    font-weight: 200;
}

.footer__fat__footer__categories__content {
    margin-top: 10px;
    margin-left: -10px;
}

.footer__fat__footer__redes__content {
    margin-top: 10px;
    transform: translate(-10px);
}

/*ESPECIAL PARA CONTACTO*/
.footer__fat__footer__contact__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    transform: translate(-75px);
    margin-right: -80px;
}

.footer__fat__footer__content__with__icon {
    display: flex;
    margin-bottom: 20px
}

.footer__fat__footer__content__with__icon p {
    font-family: 'Russo One', 'sans-serif';
    font-weight: 200;
    font-size: 18px;
    transform: translate(5px);
}

.footer__fat__footer__content__without__icon {
    display: flex;
    flex-direction: column;
}

.footer__line {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer__copyright__notice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 2%;
    padding-bottom: 2%;
}

.footer__copyright__notice p {
    color: #FFFFFF;
    font-family: 'Russo One', 'sans-serif';
}


/*ESTOY PROBANDO ESTILOS PARA EL JUEGO COMO PARA IR VIENDO*/
#turnoJugador, #ganador {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ganador {
    padding: 30px;
}

.juegoDesactivado {
    visibility: hidden;
}

.juegoActivado {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    transform: translateY(28px);
}

#temporizador {
    font-size: 30px;
    color: rgb(209, 209, 209);
    -webkit-text-stroke: 0.5px black;
    font-family: "Russo One";
    /*z-index: 4;*/
    transform: translateY(41px);
}

.informacion {
    font-size: 100px;
    font-family: 'Jersey 25', 'sans-serif';;
    color: yellow;
    z-index: 3;
    transform: translateY(57px);
}

.modos_de_juego {
    margin-top: 80px;
}


/*SEPARACION MENU HAMBURGUESA*/
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}


/*MENU JUEGO*/
.menuJuego {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
}


/*VENTANA DE EJECUCION DEL JUEGO*/
.ventanaEjecucion {
    visibility: visible;
    margin-top: 6.5%;
    width: 1050px;
    height: 580px;
    filter: blur(5px);
    z-index: 1;
    border: 2px solid black;
    transform: translateY(100px);
}

.ventanaEjecucionPlay {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    transform: translate(5px, -384px);
}

.ventanaEjecucionPlay img {
    border-radius: 10px;
    width: 270px;
    height: 170px;
    z-index: 4;
}

.ventanaEjecucionDesactivada {
    visibility: hidden;
}

.ventanaEjecucionPlayDesactivada {
    visibility: hidden;
}

.ventanaMenuSeleccionActivada {
    visibility: visible;
    margin-top: 6.5%;
    width: 1050px;
    height: 600px;
    border: 2px solid black;
    background-color: rgba(36, 40, 44, 0.7);
    z-index: 1;
    transform: translateY(-750px);
}

.containerDatos {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.jugadores {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(45px, -5px);
    width: 340px;
    height: 250px;
    gap: 40px;
}

.datosJugador {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.datosJugador label {
    margin-left: 10px;
    font-size: 25px;
    color: rgb(222, 222, 222);
    -webkit-text-stroke: 1px black;
    font-family: 'Russo One';
}

.datosJugador input {
    height: 20px;
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
}

.skins {
    width: 400px;
    height: 300px;
    transform: translate(-20px);
}

.skins h1 {
    margin-top: 6%;
    text-align: center;
    margin-left: 10px;
    font-size: 25px;
    color: rgb(222, 222, 222);
    -webkit-text-stroke: 0.5px black;
    font-family: 'Russo One';
}

.skinsJugador1, .skinsJugador2 {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.skinsJugador1 div, .skinsJugador2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.skinsJugador2 div {
    margin-top: 55px;
}

.skinsJugador1 img, .skinsJugador2 img {
    width: 60px;
    height: 60px;
}

.containerDatos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tableroSkins {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 880px;
    height: 260px;
    margin-top: -5%;
}

.tableroSkins h1 {
    margin-top: -3%;
    text-align: center;
    font-size: 25px;
    color: rgb(222, 222, 222);
    -webkit-text-stroke: 0.5px black;
    font-family: 'Russo One';
}

.tableroSkins div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableroSkins img {
    width: 250px;
    height: 200px;
}

.tableros {
    margin-top: 1%;
    display: flex;
    gap: 50px;
}

.modosDeJuego h1 {
    margin-top: -3%;
    text-align: center;
    font-size: 25px;
    color: rgb(222, 222, 222);
    -webkit-text-stroke: 0.5px black;
    font-family: 'Russo One';
}

.modosDeJuego {
    margin-top: 3%;
    transform: translateX(-65px);
    width: 300px;
    height: 200px;
}

.grupoModo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 3%;
}

.grupoModo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 7%;
}

.modo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(66, 66, 237); 
}

.modo p {
    font-size: 30px;
    color: rgb(201, 201, 201);
}

.modo:active {
    background-color: white;
}

.botonPlayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventanaMenuSeleccion {
    visibility: hidden;
}


/*MENU DE FINALIZACION DEL JUEGO*/
.juego_finalizado_container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5; 
}

.juego_finalizado_container_activado {
    display: flex;
    transform: translate(590px, -1100px)
}

.juego_en_finalizacion {
    filter: blur(5px);
}

.juego_finalizado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background-color: rgba(36, 40, 44, 1);
    width: 380px;
    height: 260px;
    border: 1px solid rgb(25, 25, 25);
    border-radius: 15px;
}

.juego_finalizado p {
    font-size: 15px;
    font-family: 'Jersey 25', sans-serif;
}

.juego_finalizado .opciones {
    display: flex;
    flex-direction: row;
    gap: 30px;
    transform: translateY(-35px);
}

/*BOTONES DEL JUEGO*/
.home__carrousell__card__footer__button__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    padding-bottom: 30px;
}

.home__carrousell__card__footer__button__play__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(114, 199, 120);
    width: 145px;
    height: 38px;
    font-family: 'Jersey 25', 'sans-serif';
    font-size: 20px;
    color: black;
    transition: transform 0.6s ease, box-shadow 0.6s ease;   
}

.home__carrousell__card__footer__button__play__menu:hover {
    background-color: #56BC5D;
    transform: scale(1.1);
    transition: background-color box-shadow, 0.6s;
    box-shadow: 1px 1px 12px;
    cursor: pointer;
}

.home__carrousell__card__footer__button__play__menu:active {
    color: white;
}

.home__carrousell__card__footer__button__play__menu span {
    transition: .4s ease; 
}

.home__carrousell__card__footer__button__play__icon__menu {
    display: flex;
    align-items: center;
    opacity: 0;
    margin-left: 80px;
    margin-top: -1px;
    position: absolute;
    transition: .4s;

}

.home__carrousell__card__footer__button__play__icon__menu svg {
    color: black;
    width: 18px;
    height: 20px;
}

.home__carrousell__card__footer__button {
    display: flex;
    gap: 20px;
}

.home__carrousell__card__footer__button__play {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(114, 199, 120);
    width: 107px;
    height: 37px;
    width: 95px;
    height: 30px;
    font-family: 'Jersey 25', 'sans-serif';
    font-size: 20px;
    color: black;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.home__carrousell__card__footer__button__play__ejecucion {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(114, 199, 120);
    width: 97px;
    height: 30px;
    font-family: 'Jersey 25', 'sans-serif';
    font-size: 20px;
    color: black;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.home__carrousell__card__footer__button__play:hover {
    background-color: #56BC5D;
    transform: scale(1.1);
    transition: background-color box-shadow, 0.6s;
    box-shadow: 1px 1px 12px;
    cursor: pointer;   
}

.home__carrousell__card__footer__button__play:active {
    color: white;
}

.home__carrousell__card__footer__button__play__ejecucion:hover {
    background-color: #56BC5D;
    transform: scale(1.1);
    transition: background-color box-shadow, 0.6s;
    box-shadow: 1px 1px 12px;
    cursor: pointer;
}

.home__carrousell__card__footer__button__play__ejecucion:active {
    color: white;
}

.home__carrousell__card__footer__button__play__ejecucion span {
    transition: .4s ease;   
}

.home__carrousell__card__footer__button__play__icon {
    display: flex;
    align-items: center;
    opacity: 0;
    margin-left: 80px;
    margin-top: 5px;
    position: absolute;
    transition: .4s; /*CHEKEAR*/
}

.home__carrousell__card__footer__button__play__icon svg {
    color: black;
    width: 18px;
    height: 20px;
}

/*ANIMACION BOTON PLAY*/
.home__carrousell__card__footer__button:hover .home__carrousell__card__footer__button__play__icon {
    opacity: 1;
    transform: translateX(-14px);
    transition: .4s ease-in-out;
}

.home__carrousell__card__footer__button:hover .home__carrousell__card__footer__button__play__ejecucion span {
    transform: translateX(-8px);
}

.home__carrousell__card__footer__button__menu:hover .home__carrousell__card__footer__button__play__icon__menu {
    opacity: 1;
    transform: translateX(-14px);
    transition: .4s ease-in-out;   
}

.home__carrousell__card__footer__button__menu:hover .home__carrousell__card__footer__button__play__menu span {
    transform: translateX(-8px);
}










